
#title{
    color: white;
    background-color: #ff4c68;
    font-size: large;
}

h1{
    padding: 10% 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    padding-top: 10%;
    font-weight: bold;
}

p{
    color: gray;
}
 
/* Navigation bar */
.navbar{
    padding:  0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}

.navbar-brand{
    color: white;
    padding-left: 2%;
    font-size: 1.5rem;
    font-weight: bold;
}

.download-button{
    margin-right:8%;
}

/* Title image */
.title-image{
    width: 50%;
    transform: rotate(25deg);
    padding-top: 10%;
}

.row{
    padding-left: 6rem;
}

/* Features section */

#features{
    padding: 7% 13%;
}

.feature-box{
    text-align: center;
    padding: 4.5%;
}

.icon{
    
    color: #f9abaa;
}

.icon:hover{
    color:#ff4c68 ;
}

/* Testimonials Section */

#testimonials{
    text-align: center;
    background-color: #f9abaa;
    color: white;
}

.testimonials-image{
    margin: 20px;
    width: 20%;
    border-radius: 100%;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press Section */

#press{
    padding: 7% 13%;
    background-color: #f9abaa;
}

.press-logo{
    width: 20%;
    margin: 20px 20px 50px;
}




